<!DOCTYPE HTML>

<div class="home">

    <div class="container1">

        <div class="text-col1">
            <h1>What is TownHapps?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                 sed do eiusmod tempor incididunt ut labore et dolore magna 
                 aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                 laboris nisi ut aliquip</p>
        </div>
    
        <div class = "img-col">
            <img class="image1" src="../../assets/img2.png" alt="img1" >
            
        </div>
    </div>

    <div class="container2">
    
        <div class = "img-col">
            <img class="image2" src="../../assets/img3.png" alt="img2" >
            
        </div>

        <div class="text-col2">
            <h1>Our Mission?</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna 
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                laboris nisi ut aliquip<</p>
        </div>

    </div>

    <div class="container3">
        <h1>Join Our Newsletter</h1>
        <p>Each week we will send an email newsletter where businesses in Gig Harbor 
            can post their discounts
        </p>
        <button class="button" onclick="window.location.href='https://e1f84b7d.sibforms.com/serve/MUIEAEsEN1Yb56Nxt3GdQCDDFPdoYV2CiYOsqo2Pg4OMU5eTe4Kc4DN-Hg8_ypZYz2xslI1ntONZ3Gp1LdXYyeXTgHnCUa0aW6ip3paDiSx-1TLYayOY0QoFiqzhEkqX9FaboC1GUh01Hn0Fmgo6FIv1ItGucBjm7iDIb2JF4Lm4D33xNk69s6WjWUODTxQsI0VhOoiPuTUIRpHQ';">
            Sign Up 
          </button>

        <div>
            <img class="image3" src="../../assets/img1.png" alt="img3" >
        </div>



    </div>

 

</div>