
.home {
    overflow: hidden;
    background-color: #f2f2f2;
    padding: 10px 10px;

  }

.mod1 {
    background-color: #ffffff;
    padding: 10px 10px;
    margin-bottom: 10px;

}

.mod2 {
    background-color: #ffffff;
    padding: 10px 10px;

}

.button {
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;

}